$color-white: #ffffff;
$color-whitish: #efefef;
$color-whitish: #efefef;
$color-blackish: #333333;
$color-light-grey: #cccccc;
$color-lighter-grey: #c7c7c7;




*, 
*::before,
*::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

body {
     font-family: 'PT Sans', sans-serif;

     .section-heading {
          color: $color-blackish;
          font-size: 25px;
          font-weight: bolder;
     }
}

.mobile-nav {
     position: fixed;
     top: 0;
     left: 100%;
     height: 100vh;
     width: 90%;
     background-color: $color-whitish;
     padding-left: 5%;
     transition: all .5s ease-in-out;
     z-index: 999;

     &.active {
          left: 10%;
     }

     .close-mobile-nav-icon {
          position: relative;
          width: 40px;
          height: 3px;
          float: right;
          margin: 30px;

          &::before {
               content: '';
               position: absolute;
               top: 0;
               left: 0;
               height: 100%;
               width: 100%;
               background-color: $color-blackish;
               transform: rotate(45deg);
          }

          &::after {
               content: '';
               position: absolute;
               top: 0;
               left: 0;
               height: 100%;
               width: 100%;
               background-color: $color-blackish;
               transform: rotate(-45deg);
          }
     }

     .nav-heading {
          color: $color-blackish;
          text-transform: uppercase;
          letter-spacing: 3px;
     }

     .divider {
          width: 100%;
          height: 2px;
          background-color: $color-light-grey;
     }

     .catergories-list,
     .recent-posts-list {
          list-style: none;
          padding: 0;
          margin-top: 20px;

          a {
               text-decoration: none;
          }
     }

     .catergories {
          margin-top: 40%;
          margin-bottom: 70px;

          .catergories-list {
               .catergory-container {
                    width: 85%;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 10px;
                    padding: 10px;
                    border: 2px solid $color-light-grey;

                    a {
                         color: #c7c7c7
                    }
               }
          }
     }

     .recent-posts {
          .recent-posts-list {
               .recent-post-container{
                    width: 85%;
                    display: flex;   
                    justify-content: space-between;
                    align-items: center;

                    .post-image {
                         width: 100px;
                         height: 100px;
                         margin-right: 10px;

                         img {
                              width: 100%;
                         }
                    }

                    .post-details {
                         .post-heading {
                              font-weight: 100;
                         }

                         .post-date {
                              font-size: 15px;
                              color: #c7c7c7;
                         }
                    }
               }
          }
     }
}

.top-nav {
     position: fixed;
     top: 0;
     left: 0;
     box-shadow: 0px -4px 4px 11px $color-whitish;
     background-color: $color-white;
     width: 100%;
     height: 70px;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding:  0 10%;
     z-index: 2;

     .logo-container {
          animation: slideRight 1.5s backwards ease-in-out;

          .logo {
               .top-logo-text,
               .bottom-logo-text {
                    display: block;
                    font-size: 22px;
               }

               .bottom-logo-text {
                    margin-left: 10px;
               }
          }
     }

     .open-mobile-nav-icon {
          background-color: $color-blackish;
          height: 3px;
          width: 40px;
          position: relative;

          &::before {
               position: absolute;
               left: 0;
               top: -10px;
               content: '';
               background-color: $color-blackish;
               height: 100%;
               width: 100%;
          }

          &::after {
               position: absolute;
               left: 0;
               bottom: -10px;
               content: '';
               background-color: $color-blackish;
               height: 100%;
               width: 100%;
          }
     }
}

.hero-section {
     width: 100%;
     margin-top: 70px;
     height: calc(100vh - 70px);
     background: url("/Assets/Images/bg.jpeg");
     background-position: center;
     padding-top: 25%;
     position: relative;

     .hero-text-container {
          text-align: center;

          .hero-heading {
               font-size: 50px;
               margin-bottom: 365px;
               color: $color-whitish;
               font-weight: bold;
          }
     }

     .scroll-down-icon-container {
          text-align: center;

          .tagline {
               letter-spacing: 7px;
               line-height: 30px;
               color: $color-whitish;
               font-size: 15px;
          }

          .scroll-down-icon {
               font-size: 50px;
               color: $color-whitish;
               position: absolute;
               bottom: 5%;
               left: 50%;
               transform: translateX(-50%);
          }
     }
}

.podcast-section {
     width: 100%;

     .podcasts-container {
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          
          .podcast {
               width: 300px;
               height: 550px;
               border: 1px solid $color-light-grey;
               margin: 20px 0;

               .podcast-image-container {
                    width: 100%;
                    height: 250px;

                    img {
                         width: 100%;
                         height: 200px;
                    }

                    .media-controls {
                         display: flex;
                         align-items: center;
                         justify-content: space-between;
                         height: 50px;
                         background-color: $color-whitish;

                         img {
                              width: 40px;
                              height: 40px;
                         }
                    }
               }

               .podcast-details {
                    
                    .podcast-heading {
                         height: 100px;
                         width: 100%;
                         display: flex;
                         align-items: center;
                         justify-content: space-between;
                         border-bottom: 1px solid $color-light-grey;

                         .podocast-date-container {
                              width: 30%;
                              height: 100%;
                              background-color: $color-blackish;
                              display: flex;
                              align-items: center;
                              justify-content: center;
                              flex-direction: column;

                              .podcast-divider {
                                   height: 1px;
                                   width: 75%;
                                   border-radius: 50px;
                                   background-color: $color-light-grey;
                                   margin: 10px 0;
                              }

                              .podcast-date,
                              .podcast-month {
                                   font-size: 20px;
                                   color: $color-whitish;
                              }
                         }

                         .podcast-title-container {
                              padding: 15px;

                              .podcast-title {
                                   color: $color-blackish;
                              }
                         }
                    }

                    .podcast-description-container {
                         padding: 10px;

                         .podcast-description {
                              color: $color-blackish;
                         }

                    }
               }
          }
     }
}

.contact-section {
     padding: 40px;

     .contact-text {
          color: $color-blackish;
          margin: 15px 0;

          a {
               text-decoration: none;
               color: $color-blackish;
          }
     }

     .contact-form {
          width: 95%;

          .contact-form-row-1 {
               display: flex;
               align-items: center;
               justify-content: space-between;
               flex-direction: column;

               .name-input,
               .email-input {
                    width: 100%;
                    padding: 10px 20px;
                    border-radius: 3px;
                    margin-bottom: 5px;
                    border: 2px solid $color-light-grey;
                    font-size: 15px;
                    font-weight: bold;
                    letter-spacing: 2px;
               }
          }

          .contact-form-row-2 {
               .advertisment-info,
               .message-input {
                    width: 100%;
                    padding: 10px 20px;
                    border-radius: 3px;
                    margin-bottom: 5px;
                    border: 2px solid $color-light-grey; 
                    font-size: 15px;
                    font-weight: bold;
                    letter-spacing: 2px;
               }

               .message-input {
                    height: 100px;
               }
          }

          .submit-button {
               width: 100%;
               padding: 10px 20px;
               border-radius: 3px;
               margin-bottom: 5px;
               background-color: $color-blackish;
               border: none;
               color: $color-light-grey;
               text-transform: uppercase;
               font-size: 17px;
          }
     }
}

@keyframes slideRight {
     0% {
          transform: translateX(-300px);
     }
     100% {
          transform: translateX(0);
     }
}